<!DOCTYPE html>
html
    head
        title One Skill
    body
       ol
            li
                a(href='/src/pages/main.pug') main
            li
                a(href='/src/pages/myskills-newskill.pug') Top>myskills>newskill
            li
                a(href='/src/pages/myskills-newskill-name-info.pug') Top>myskills>newskill>name&information
            li
                a(href='/src/pages/myskills-newskill-upload.pug') Top>myskills>newskill>upload
            li
                a(href='/src/pages/myskills-newskill-plan.pug') Top>myskills>newskill>plan
            li
                a(href='/src/pages/myskills-newskill-checkout.pug') TODO Top>myskills>newskill>checkout
            li
                a(href='/src/pages/myskills-newskill-done.pug') Top>myskills>newskill>done
            li
                a(href='/src/pages/myskills-platform-add.pug') Top>myskills>[skill]>platform add
            li
                a(href='/src/pages/myskills-plan-upgrade.pug') Top>myskills>[skill]>-plan-upgrade
            li
                a(href='/src/pages/myskills.pug') Top>myskills>[skill]>top > myskills
            li
                a(href='/src/pages/myskills-status.pug') Top>myskills>[skill]> status
            li
                a(href='/src/pages/myskills-board.pug') TODO 하는 중 Top>myskills>[skill]> board 
            li
                a(href='/src/pages/myskills-setup.pug') Top>myskills>[skill]> setup [premium] 
            li
                a(href='/src/pages/myaccount.pug') Top>myaccount
            li
                a(href='/src/pages/top-world.pug') Top>world


