@import "./mixin";

html {
  font-size: 62.5%;
}
* {
  font-family: "Montserrat", sans-serif;
}
.green {
  color: #31a79b !important;
}
@include xs{
  html {
    font-size: 6px;
  }
}
@include sm {
  html {
    font-size: 6px;
  }
}
@include md {
  html {
    font-size: 7px;
  }
}
@include lg {
  html {
    font-size: 8px;
  }
}
@include xl {
  html {
    font-size: 8px;
  }
}
.size-invisible{
  &.xs{
    @include xs{
      display: none;
    }
  }
}
.size-visible {
  display: none;
  &.xs{
    &.table-cell{
      @include xs{
        display: table-cell;
      }
    }
    &.table-row{
      @include xs{
        display: table-row;
      }
    }
   
  }
}
button,
input,
textarea {
  &:focus,
  &:active {
    outline: none;
  }
}
.text-left {
  text-align: left !important;
}

#content {
  padding-top: 11.2rem;
}
label {
  margin: 0;
}

button.type {
  color: white;
  &.basic {
    background-color: #31a79b;
  }
  &.economy {
    background-color: #9da8bb;
  }
  &.premium {
    background-color: #ffb34b;
  }
}
