@import "./mixin";

html {
  font-size: 62.5%;
}
* {
  font-family: "Montserrat", sans-serif;
}
.green {
  color: #31a79b !important;
}
@include xs{
  html {
    font-size: 6px;
  }
  body{
    font-size: 8px;
  }

}
@include sm {
  html {
    font-size: 5.5px;
  }
  body{
    font-size: 7.5px;
  }
}
@include md {
  html {
    font-size: 7px;
  }
  body{
    font-size: 8px;
  }
}
@include lg {
  html {
    font-size: 8px;
  }
  body{
    font-size: 8px;
  }
}
@include xl {
  html {
    font-size: 8px;
  }
  body{
    font-size: 8px;
  }
}
.size-invisible{
  &.xs{
    @include xs{
      display: none;
    }
  }
}
.size-visible {
  display: none;
  &.xs{
    &.table-cell{
      @include xs{
        display: table-cell;
      }
    }
    &.table-row{
      @include xs{
        display: table-row;
      }
    }
   
  }
}
button,
input,
textarea {
  &:focus,
  &:active {
    outline: none;
  }
}
.text-left {
  text-align: left !important;
}

#content {
  padding-top: 11.2rem;
}
label {
  margin: 0;
}

button.type {
  color: white;
  &.basic {
    background-color: #31a79b;
  }
  &.economy {
    background-color: #9da8bb;
  }
  &.premium {
    background-color: #9a5299;
  }
}

.media-body{
  background-color: #F7F7F7 !important;
  &::before{
    background-color: #F7F7F7 !important;
  }
}

.popover-body{
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #31a79b;
  padding: 1.5rem 1.75rem;
  border: none;
  color: white
}
.bs-popover-auto[x-placement^=right]>.arrow::after, .bs-popover-right>.arrow::after{
  border-right-color: #31a79b;

}
.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after{
  border-left-color: #31a79b;
}