#header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top:0;
    height: 11.2rem;
    width: 100%;
    align-items: center;
    box-shadow: -2px 11px 35px -3px rgba(108, 122, 121, 0.04);
    background-color: #ffffff;
    padding: 0 8rem;
    z-index: 999;
    .profile{
        img{
            width: 5.5rem;
            height: 5.5rem;
            background: grey;
            border-radius: 50%;
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.22);
        }
    }
    .left-header-items{
        display: flex;
        .logo{
            img{
                width: 18.06rem;
                height: 3.58rem;
            }
        }
        .menus{
            margin-left: 6.68rem;
            display: flex;
            align-items: center;
            ul{
                margin:0;
                padding:0;
                list-style: none;
                display: flex;
                li{
                    margin-right: 4.8rem;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            ul > li > a{
                font-size: 2rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.5px;
                color: #404040;
            }
        }
    }
}