@import "_mixin";

#newskill-indicator{
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 0 8rem;
    //border-bottom: 2px solid #5abeb622;
    //background-color: #00aa9b10;
    @include xs{
        display: none;
    }
    >button.title{
        width: 30.4rem;
        height: 4.7rem;
        border-radius: 2.35rem;
        background-color: #5abeb622;
        font-size: 1.8rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.04rem;
        color: #31a79b;
    }
    .indicator-area{
        display: flex;
        align-items: center;
    }
    .line{
        img{
            width: 8.6rem;
        }
    }
    .indicator{
        position: relative;
        .text{
            position: absolute;
            bottom: -3.4rem;
            height: 3rem;
            width: 16.2rem;
            left: -5.6rem;
            text-align: center;

            font-size: 1.6rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.21;
            letter-spacing: normal;
            color: #e7e7e7;
        }
        button{
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: -0.5rem 1rem;
        }
        &.current{
            button{
                background-image: url('/src/assets/img/indicator-current.svg')
            }
            .text{
                color: #31a79b;
            }
        }
        &.done{
            button{
                background-image: url('/src/assets/img/indicator-done.svg')
            }
            
        }
        &.future{
            button{
                background-image: url('/src/assets/img/indicator-future.svg')
            }
        }
    }
}
.new-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #31a79b;
    margin-top: 2.5rem;

}