#header
    .left-header-items
        .logo
            img(src="/src/assets/img/logo.svg")
        .menus
            ul
                li
                    a MY SKILL
                li
                    a HELP
    .profile
        img