extends layout.pug

block links
    link(rel="stylesheet" href="./myaccount.scss")

block content
    .layout
        .area
            .head Profile settings

       
block append scripts
    script.
        
        