@import '../styles/mixin';
@import '../styles/header.scss';
@import '../styles/newskill.scss';
html{
  font-size: 10px;
}
#content{
    //padding-top: 11.2em;
}
#stage-container{
    padding:0;

    >.left#left-sidebar{
        float:left;
        width: 30rem;
        >.inner-wrapper-sticky{
            padding: 0rem 4.2rem;
        }
        .image-area {
            overflow: hidden;
            position: relative;
            width: 9.5rem;
            height: 9.5rem;
            flex-shrink: 0;
            margin: 1rem 0;
            @include xs {
                margin-bottom: 3rem;
            }
            border-radius: 0.8rem;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
            .uploaded {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .mask {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
                    display: flex;
                    align-items: flex-end;
                    color: #ffffff;
                    padding: 1.2rem 1rem;
                    font-size: 1rem;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.19;
                    letter-spacing: 0.06rem
                }
            }
        }
        @include xs{
            display: none;
        }
        @include sm{
            display: none;
        }
        .title{
            text-transform: uppercase;
            margin-top: 3rem;
            font-size: 1.5rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242f40;
            margin-bottom: 0.4rem;
        }
        .desc{
            font-size: 1.3rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.62;
            letter-spacing: -0.3px;
            color: #9fa9ba;
        }
        .platform-row{
            display: flex;
            margin-top: 0.8rem;
            margin-bottom: 1rem;
            img{
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
            }
        }
        button.add-platform{
            padding:0;
            img{
                width: 2.5rem;
                height: 2.5rem;
            }
            span{
                display: inline-block;
                margin-left: 1rem;
                font-size: 1.3rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #dbe0e6;
                padding-top: 1rem;
            }
        }
        button.type{
            margin-top: 0.6rem;
            margin-bottom: 0.86rem;
            font-size: 0.9rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            &.upgrade{
                width: 100%;
                height: 3.6rem;
                border-radius: 0.4rem;
                font-size: 1.4rem;
            }
        }
    }
    >.right{
        float:right;
        width: 25rem;
        @include xs{
            display: none;
        }
        @include sm{
            display: none;
        }
        >.inner-wrapper-sticky{
            padding: 3rem 1.5rem;
        }
        button.upgrade{
            margin-top: 0.6rem;
            margin-bottom: 0.86rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            width: 100%;
            height: 3.6rem;
            border-radius: 0.4rem;
            font-size: 1.4rem;
        }
        .ad-card{
            margin-bottom: 3.4rem;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
            background-color: #ffffff;
            img{
                width: 100%;
                height: 25.2rem;
                object-fit: cover;
            }
            .bottom-area{
                padding: 0.95rem 1.2rem;
                display: flex;
                >.left{
                    >.title{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                        font-size: 1.2rem;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.25;
                        letter-spacing: normal;
                        color: rgba(0, 0, 0, 0.87);
                        padding-right: 0.5rem;
                    }
                    >.company{
                        font-size: 1rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.7;
                        letter-spacing: normal;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
                >.right{
                    flex-shrink: 0;
                    flex-grow: 0;
                    button{
                        width: 7.9rem;
                        height: 3.7rem;
                        border-radius: 0.4rem;
                        font-size: 1rem;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.7;
                        letter-spacing: normal;
                        color: #54575c;
                        border: 1px solid rgba(151 ,151 ,151, 0.33);
                    }
                }
            }
        }
    }
    >.left, >.right{
        ul{
            list-style: none;
            font-size: 1.2rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: -0.5px;
            color: #a5aebe;
            margin-left: -2rem;
            margin-bottom: 3.4rem;
            li{
                margin-bottom: 0rem;
                position: relative;
                span{
                    position: relative;
                    left: 1.5rem;
                }
            }
            &.upgrade{
                li:before{
                    background-image: url('/src/assets/img/check-mark-button-copy-2.svg');
                }
            }
            li::before {
                position: absolute;
                top: 0.7rem;
                left: 0;
                margin-right: 1.2rem;
                content: ""; 
                background-image: url('/src/assets/img/check-mark-button-copy.svg');
                display: inline-block; 
                width: 0.9rem;
                height: 0.7rem;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -2.3rem;
            }
        }
    }
}
#stage-title{
    //position: fixed;
    left: 30.2rem;
    padding-left: 3rem;
    top: 11.2em;
    padding-top: 3rem;
    right: 25.2rem;
    padding-bottom: 1rem;
    background: white;
    z-index: 999;
    margin-bottom: 0rem;
    border-left: 1px solid #e6eaee;
    border-right: 1px solid #e6eaee;

    @include xs{
        left: 0;
        z-index: 4;
        right: 0;
        margin-bottom: 0;
        padding: 9rem 1rem 1rem;
    }
    @include sm{
        left: 0;
        z-index: 4;
        right: 0;
        margin-bottom: 0;
        padding: 0rem 1rem 1rem;

    }
}
#stage-title .bottom{
    font-size: 1.6rem !important;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9fa9ba;
    text-transform: uppercase;
    @include xs{
        font-size: 1rem;
    }
    img{
        width: 1.6rem;
        height: 1.6rem
    }
}
.layout-area{
    @include xs{
        margin-left: 0;
        margin-right: 0;
    }
    @include sm{
        margin-left: 0;
        margin-right: 0;
    }
    margin-left: 30rem;
    margin-right: 25rem;
    >.center{
        padding: 3rem 4rem;
        flex-grow: 1;
        border-left: 1px solid #e6eaee;
        border-right: 1px solid #e6eaee;
        @include xs{
            padding: 3rem 2rem;
        }
        @include sm{
            padding: 2rem 4rem 3rem;
        }
        .new-post-card{
            border-radius: 0.6rem;
            box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1), 0 0 20px 0 rgba(215, 222, 227, 0.23);
            background-color: #ffffff;    
            .not-opened{
                height: 6.1rem;
                padding: 2rem 2.4rem;
                font-size: 1.5rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #b9bfca;
            }      
            >.opened{
                display: none;
                .section{
                    &.buttons{
                        text-align: right;
                        button.cancel, button.done{
                            width: 9rem;
                            height: 3.6rem;
                            border-radius: 0.4rem;
                            font-size: 1.4rem;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                            color: #ffffff;
                        }
                        button.cancel{
                            margin-right: 1rem;
                            background-color: #a3adbd;
                        }
                    }
                    
                    button.done{
                        background-color: #31a79b;
                    }
                    position: relative;
                    padding: 1.8rem 1.7rem;
                    >.left{
                        margin-right: 16.5rem;
                        @include xs{
                            margin-right: 0 !important;
                        }
                        input, textarea{
                            padding: 0.8rem 1.5rem;
                            height: 3.6rem;
                            border-radius: 0.4rem;
                            background-color: #ffffff;
                            font-size: 1.4rem;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #202841;
                            border: 1px solid #cccfd4;
                            &::placeholder{
                                color: #9fa9ba;
                            }
                        }
                        textarea{
                           height: 10.3rem; 
                        }
                        .collapsing-area{
                            margin-top: 2.8rem;
                            .is-collapse{
                                display: none;
                                &.show{
                                    display: flex;
                                }
                                &.schedule-wrapper{
                                    justify-content: flex-start;
                                    @include xs{
                                        padding: 0;
                                    }
                                }
                                @include xs{
                                    &.attachment{
                                        flex-direction: column;
                                        @include xs{
                                            padding: 1rem;
                                        }
                                        >.right{
                                            margin-top: 2rem;
                                        }
                                    }
                                }
                                
                                padding-top: 1rem;
                                padding-left: 3rem;
                                justify-content: space-between;
                                >.left{
                                    font-size: 1.2rem;
                                    font-weight: 500;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    >.caution{
                                        color: #9fa9ba;
                                    }
                                    >.files{
                                        margin-top: 0.4rem;
                                        color: #4786ff;
                                        >ul{
                                            list-style: none;
                                            padding:0;
                                            margin:0;
                                            li{
                                                margin: 0.5rem 0;
                                            }
                                        }
                                    }
                                    
                                }
                                >.right{
                                    @include xs{
                                        display: flex;
                                        justify-content: flex-end;
                                    }
                                    button.upload{
                                        width: 9rem;
                                        height: 3.6rem;
                                        border-radius: 0.4rem;
                                        border: 1px solid #4786ff;
                                        font-size: 1.4rem;
                                        font-weight: bold;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        text-align: center;
                                        color: #4786ff;
                                        @include xs{

                                        }
                                    }
                            
                                }
                                
                                .schedule{
                                    margin-right: 1.6rem;
                                    &:last-child{
                                        margin-right: 0;
                                    }
                                    .input-group-text{
                                        border-radius: 0.4rem;
                                        background-color: white;
                                        border-top-right-radius: 0;
                                        border-bottom-right-radius: 0;
                                    }
                                    input{
                                        border-radius: 0.4rem;
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                        border-left: 0;
                                    }
                                    img{
                                        width: 2.1rem;
                                        height: 2.1rem;
                                    }
                                    >.title{
                                        font-size: 1.2rem;
                                        font-weight: 600;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: #9fa9ba;
                                    }
                                }
                                
                            }
                        }
                    }
                    >.right{
                        width: 16.5rem;
                        position: absolute;
                        right: 1.8rem;
                        top: 1.7rem;
                        padding: 0.8rem 1.9rem;
                        .checkbox-area{
                            margin-bottom: 1.6rem;
                            &:last-child{
                                margin-bottom:0;
                            }
                            &:first-child{
                                margin-top: 2rem;
                            }
                        }
                        @include xs{
                            position: initial;
                            padding: 0.8rem 0;
                        }
                    }
                    
                    .checkboxs{
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #9fa9ba;
                        // margin-left: 0.86rem;
                    }
                    label{
                       
                        
                    }
                    
                }
                .border-vert{
                    border-top: 1px solid #97979720;
                }
            }
            &.opened{
                .not-opened{
                    display: none;
                } 
                .opened{
                    display: block;
                } 
            }
        }
        .date-feed-list{
            span.date{
                font-size: 1.6rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: rgba(24, 28, 47, 0.3);
                margin-top: 4.2rem;
                display: block;
                @include xs{
                    margin-top: 3rem;
                }
            }
            .feed{
                margin-top: 2.3rem;
                @include xs{
                    margin-top: 1rem;
                    .media{
                        flex-direction: column;
                        position: relative;
                    }
                }
                .actions{
                    margin-top: 1.7rem;
                    text-align: right;
                    @include xs{
                        margin-bottom: 5rem;
                    }
                    span{
                        font-size: 1.3rem;
                        font-weight: 400;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.08;
                        letter-spacing: normal;
                        @include xs{
                            font-size: 1.5rem;

                        }
                    }
                    img{
                        width: 1.5rem;
                        height: 1.8rem;
                        margin: 0 0.8rem 0 1.5rem;
                        @include xs{
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-top: -0.5rem;
                        }
                    }
                    span.edit{
                        color: #a5aebe;
                    }
                    span.delete{
                        color: #ef6972
                    }
                }
            }
            .media{
                img.profile{
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    background: red;
                    object-fit: cover;
                    @include xs{
                        margin-bottom:3rem;
                        width: 5rem;
                        height: 5rem;
                    }
                }
                .media-body{
                    position: relative;
                    border-radius: 1px;
                    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
                    background-color: #ffffff;
                    margin-left: 3.2rem;
                    @include xs{
                        margin-left: 0;
                    }
                    .head{
                        padding: 1.6rem 2.0rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @include xs{
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .left{
                            .title{
                                font-size: 1.3rem;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #202841;
                                margin-bottom: 0.2rem;
                                @include xs{
                                    font-size: 2rem;
                                }
                            }
                            .time{
                                font-size: 1.2rem;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #919eab;
                                @include xs{
                                    font-size: 1.7rem;
                                    width: 100%;
                                }
                            }
                        }
                        .right{
                            font-size: 1.4rem;
                            font-weight: 400;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: normal;
                            color: #202841;
                            @include xs{
                                position: absolute;
                                font-size: 2rem;
                                top: -3rem;
                                right: 0rem;
                                font-weight: 500;
                            }
                            img{
                                width: 1.8rem;
                                height: 1.8rem;
                                margin: 0 0.8rem 0 1.1rem;
                                @include xs{
                                    width: 2.3rem;
                                    height: 2.3rem;
                                }
                            }
                        }
                        
                        border-bottom: 1px solid #97979720;
                    }
                    .body{
                        padding: 1.6rem 2.0rem;
                        font-size: 1.3rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.62;
                        letter-spacing: normal;
                        color: #202841;
                        @include xs{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
.is-affixed{
    will-change: min-height;
}

.inner-wrapper-sticky{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.popover-body{
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #31a79b;
    padding: 1.5rem 1.75rem;
    border: none;
    color: white
}
.bs-popover-auto[x-placement^=right]>.arrow::after, .bs-popover-right>.arrow::after{
    border-right-color: #31a79b;

}
.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after{
    border-left-color: #31a79b;
}

.media-body::before {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    top: 10px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 1.8px 2px 0 rgba(47, 83, 151, 0.08);
    left: -9px;
    z-index: -1;
    @include xs{
        transform:             rotate( -59deg ) skew( -35deg );
        -moz-transform:    rotate( -59deg ) skew( -35deg );
        -ms-transform:     rotate( -59deg ) skew( -35deg );
        -o-transform:      rotate( -59deg ) skew( -35deg );
        -webkit-transform: rotate( -59deg ) skew( -35deg );
        top: -10px;
        left: 8px;
    }
}

#stage-title .left .text .top{
    @include xs{
        font-size: 2rem;
        //padding: 0 1rem;
    }
    @include sm{
        font-size: 1.7rem;
    }
}
#stage-title .left .text .bottom{
    @include sm{
        font-size: 1.3rem;
        margin-top: -0.1rem;
    }
}

button.type.premium{
    @include sm{
        padding: 0.3rem 0.5rem;
    }
}

#premium-new-menu{
    @include sm{
        font-size: 1.2rem;
    }
}
#stage-title .bottom img{
    @include sm{
        width: 1.2rem;
        height: 1.2rem;
    }
}

.layout-area > .center .date-feed-list .media .media-body .head .right{
    @include xs{
        top: -6.5rem;
        font-size: 1.7rem;
    }
}