extends layout.pug

block links
    link(rel="stylesheet" href="./myskills-newskill-name-info.scss")

block content
    #newskill-indicator
        button.btn.title
            | Add new skill or action
        .indicator-area
            .indicator.done
                button.btn
                .text Choose Platform
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.current
                button.btn
                .text Skill Info
            .line
                img(src="/src/assets/img/line.svg")
            .indicator.future
                button.btn
                .text Upload Image
            .line
                img(src="/src/assets/img/line.svg")
            .indicator.future
                button.btn
                .text Select Plan
            .line
                img(src="/src/assets/img/line.svg")
            .indicator.future
                button.btn
                .text Checkout
    #stage-container
        #stage-title
            .left
                .number 2
                .text
                    .top Skill name and information
                    .bottom What kind of skill do you want to make?
            .right
                button.btn Save changes
        .title-area
            img(src='/src/assets/img/title-icon.svg')
            | Name of the skill
        .desc-area
            | What is your preferred names of your Skill? 
            br
            | Before you decide, please check if there is existing name in 
            span.green Amazon Skill Market
        .skill-names
            input(type="text" placeholder="Name of the skill")
            span.or or
            input(type="text" placeholder="Alternate name of the skill")
            span.or or
            input(type="text" placeholder="Alternate name of the skill")
        .title-area
            img(src='/src/assets/img/title-icon.svg')
            | About the Skill
        .desc-area
            | Please describe your skill. What information do you want to share with? 
            br
            | This information will be the first shown information. Please be specific.
        textarea(placeholder="Description of the skill. Please be specific.")

        .title-area
            img(src='/src/assets/img/title-icon.svg')
            | Skill Detail
        .desc-area
            | Any additional terms, policy and condition you would like to share with the users.
        textarea(placeholder="Description of the skill. Please be specific.")

        .title-area
            img(src='/src/assets/img/title-icon.svg')
            | Language Support
        .lang-row
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#us(type='checkbox')
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | English (US) 
                            img(src='/src/assets/img/us.svg')
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | English (US) 
                            img(src='/src/assets/img/us.svg')
                
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#uk(type='checkbox')
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | English (UK)
                            img(src='/src/assets/img/uk.svg')
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | English (UK)
                            img(src='/src/assets/img/uk.svg')
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#ca(type='checkbox')
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | English (Canada)
                            img(src='/src/assets/img/ca.svg')
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | English (Canada)
                            img(src='/src/assets/img/ca.svg')
        .lang-row
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#fr(type='checkbox')
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | French
                            img(src='/src/assets/img/fr.svg')
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | French
                            img(src='/src/assets/img/fr.svg')
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#ge(type='checkbox')
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | German
                            img(src='/src/assets/img/ge.svg')
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | German
                            img(src='/src/assets/img/ge.svg')
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#jp(type='checkbox')
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | Japanese
                            img(src='/src/assets/img/jp.svg')
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | Japanese
                            img(src='/src/assets/img/jp.svg')
            
        .title-area
            img(src='/src/assets/img/title-icon.svg')
            | Kid SKills
        .desc-area
            | Is this skill intended for kids under 13?
            br
            | If yes, a parent or guardian you share the skill with needs to provide permission before use. 
            span.green Learn
        .lang-row
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#kid-yes(type='radio' name="kids" checked)
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | Yes, it’s for under 13
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | Yes, it’s for under 13
        .lang-row
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#kid-no(type='radio' name="kids" )
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | No, it’s not for under 13
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | No, it’s not for under 13

        .title-area
            img(src='/src/assets/img/title-icon.svg')
            | User Qualification
        .desc-area
            | How do you like to cast posting to listeners?
        .lang-row
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#q-anyone(type='radio' name="qualification" checked)
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            | Anyone who activated the skill
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | Anyone who activated the skill
        .lang-row
            .lang 
                .pretty.p-svg.p-toggle.p-plain.checkboxs
                    input#q-permission(type='radio' name="qualification")
                    .state.p-on
                        img.svg(src="/src/assets/img/check-on.svg")
                        label 
                            |Anyone who activated the skill and get permission from you
                    .state.p-off
                        img.svg(src="/src/assets/img/check-off.svg")                    
                        label
                            | Anyone who activated the skill and get permission from you

        .next-button
            a(href="/src/pages/myskills-newskill-upload.pug")
                button.btn NEXT
block append scripts
    script.
        