extends layout.pug

block links
    link(rel="stylesheet" href="./myskills-board.scss")

block content
    #stage-container
        #stage-title
            .left
                .text
                    .top Skill name example board
                    .bottom 
                        | skill welcome message setup
    .layout-area
        .left
            | d
        .center
            | d
        .right  
            | d      
        
        
block append scripts
    script.
      