extends layout.pug

block links
    link(rel="stylesheet" href="./myskills-newskill-checkout.scss")

block content
    #newskill-indicator
        button.btn.title
            | Add new skill or action
        .indicator-area
            .indicator.done
                button.btn
                .text Choose Platform
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.done
                button.btn
                .text Skill Info
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.done
                button.btn
                .text Upload Image
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.done
                button.btn
                .text Select Plan
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.current
                button.btn
                .text Checkout
    #stage-container
        #stage-title
            .left
                .number 5
                .text
                    .top Check total and choose payment method
                    .bottom Which platform’s application do you like to build?
            .right
                button.btn Save changes
        .layout
            .receipt.area
                .title Skill Name Example
                table.fixed
                    thead
                        tr
                            th.text-left.size-invisible.xs TASK DESCRIPTION
                            th.text-left SUBSCRIPTION
                            th.text-right RATE
                            th.text-right RATE
                    tbody
                        tr.size-visible.xs.table-row
                            td(colspan=3).bold 
                                img(src='/src/assets/img/alexa-logo.svg')
                                | Skill for Amazon Alexa
                        tr.border
                            td.bold.size-invisible.xs
                                img(src='/src/assets/img/alexa-logo.svg')
                                | Skill for Amazon Alexa
                            td
                            td.text-right.light 89.99 USD
                            td.text-right.bold 900,00 USD
                        tr.size-visible.xs.table-row
                            td(colspan=3).bold 
                                img(src='/src/assets/img/asset-2-copy-1.svg')
                                | Basic Plan - 1 Year
                        tr.border
                            td.bold.size-invisible.xs
                                img(src='/src/assets/img/asset-2-copy-1.svg')
                                | Basic Plan - 1 Year
                            td.light 12 Months
                            td.text-right.light 19 USD
                            td.text-right.bold 240,00 USD
                        tr
                            td.padding-top(rowspan=3).size-invisible.xs
                            td.padding-top.border.gray SUBTOTAL
                            td.padding-top.border.text-right.bold(colspan=2) 1140,00 USD
                        tr.border
                            td.gray TAX
                            td(colspan=2).text-right.bold 57,00 USD
                        tr
                            td.bold TOTAL
                            td(colspan=2).text-right.price 1083,00 USD
            .proceed.area
                .title Proceed Checkout
                .card-list
                    .card-item
                        img.logo(src='/src/assets/img/mastercard.svg')
                        .text
                            .top Credit Card
                            .bottom MasterCard, Visa, etc
                        img.arrow
                    .card-item
                        img.logo(src='/src/assets/img/paypal.svg')
                        .text
                            .top Paypal
                            .bottom Pay with your PayPal
                        img.arrow
                    .card-item
                        img.logo(src='/src/assets/img/wechat.svg')
                        .text
                            .top WeChat Pay
                            .bottom Quick Pay, QR code
                        img.arrow
        //- .next-button
        //-     a(href="/src/pages/myskills-newskill-done.pug")
        //-         button.btn NEXT
        
       
block append scripts
    script.
        
        