extends layout.pug

block links
    link(rel="stylesheet" href="./myskills-newskill-plan.scss")

block content
    #newskill-indicator
        .new-title
            | ► Add new skill or action
        .indicator-area
            .indicator.done
                button.btn
                .text Choose Platform
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.done
                button.btn
                .text Skill Info
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.done
                button.btn
                .text Upload Image
            .line
                img(src="/src/assets/img/line-active.svg")
            .indicator.current
                button.btn
                .text Select Plan
            .line
                img(src="/src/assets/img/line.svg")
            .indicator.future
                button.btn
                .text Checkout
    #stage-container
        #stage-title
            .left
                .number 4
                .text
                    .top Choose Plan
                    .bottom Which platform’s application do you like to build?
            .right
                button.btn Save changes
        .plans-wrapper
            .plan.economy
                button.selected-badge.btn
                    img(src='/src/assets/img/selected-check.svg')
                    | SELECTED
                .title Economy
                .price
                    span.dollar $
                    span.number 10
                    span.mo /mo
                ul
                    li.warning 
                        span 1 ad cast per 1 cast posting
                    li 
                        span Up to 200 characters per posting
                    li 
                        span 2 cast postings per day
                button.btn.choose-btn Choose this plan
            .plan.basic
                button.selected-badge.btn
                    img(src='/src/assets/img/selected-check.svg')
                    | SELECTED
                .title Basic
                .price
                    span.dollar $
                    span.number 19
                    span.mo /mo
                ul
                    li
                        span  Up to 500 characters per postings
                    li 
                        span 5 cast postings per day
                    li 
                        span 1 cast attachment per day
                    li  
                        span Scheduled posting enable
                button.btn.choose-btn Choose this plan
            .plan.premium.selected
                button.selected-badge.btn
                    img(src='/src/assets/img/selected-check.svg')
                    | SELECTED
                button.btn.recommended recommended
                .title Premium
                .price
                    span.dollar $
                    span.number 99
                    span.mo /mo
                ul
                    li
                        span Unlimited posting characters
                    li
                        span Unlimited cast postings
                    li
                        span Unlimited cast attachments
                    li
                        span Scheduled posting enable
                    li
                        span Ping - Replies from listeners
                    li
                        span BGM insert to posting
                button.btn.choose-btn Choose this plan
        .next-button
            a(href="/src/pages/myskills-newskill-checkout.pug")
                button.btn NEXT
block append scripts
    script.
        $(function(){
            $('.plan').click(function(){
                $('.plan').removeClass('selected')
                $(this).addClass('selected')
            })
        })
        