@import '../styles/mixin';
@import '../styles/header.scss';
@import '../styles/newskill.scss';
html{
    font-size: 10px;
}
#content{
    //padding-top: 11.2em;
}
#stage-container{
    padding:0;
    >.left#left-sidebar{
        float:left;
        width: 30rem;
        @include xs{
            display: none;
        }
        @include sm{
            display: none;
        }
        >.inner-wrapper-sticky{
            padding: 0rem 4rem;
        }
        .title{
            text-transform: uppercase;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242f40;
            margin-bottom: 0.4rem;
        }
        .desc{
            font-size: 1.3rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.62;
            letter-spacing: -0.3px;
            color: #9fa9ba;
        }
        .platform-row{
            display: flex;
            margin-top: 0.8rem;
            margin-bottom: 1rem;
            img{
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
            }
        }
        button.add-platform{
            padding:0;
            img{
                width: 2.5rem;
                height: 2.5rem;
            }
            span{
                display: inline-block;
                margin-left: 1rem;
                font-size: 1.3rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #dbe0e6;
                padding-top: 1rem;
            }
        }
        button.type{
            margin-top: 0.6rem;
            margin-bottom: 0.86rem;
            font-size: 0.9rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            &.upgrade{
                width: 25.6rem;
                height: 3.6rem;
                border-radius: 0.4rem;
                font-size: 1.4rem;
            }
        }
    }
    >.right{
        @include xs{
            display: none;
        }
        @include sm{
            display: none;
        }
        float:right;
        width: 25rem;
        >.inner-wrapper-sticky{
            padding: 1rem 1.2rem;
        }
        button.upgrade{
            margin-top: 0.6rem;
            margin-bottom: 0.86rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            width: 25.6rem;
            height: 3.6rem;
            border-radius: 0.4rem;
            font-size: 1.4rem;
        }
        .ad-card{
            margin-bottom: 3.4rem;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
            background-color: #ffffff;
            img{
                width: 25.2rem;
                height: 25.2rem;
                object-fit: cover;
            }
            .bottom-area{
                padding: 0.95rem 1.2rem;
                display: flex;
                >.left{
                    >.title{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                        font-size: 1.2rem;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.25;
                        letter-spacing: normal;
                        color: rgba(0, 0, 0, 0.87);
                    }
                    >.company{
                        font-size: 1rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.7;
                        letter-spacing: normal;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
                >.right{
                    flex-shrink: 0;
                    flex-grow: 0;
                    button{
                        width: 7.9rem;
                        height: 3.7rem;
                        border-radius: 0.4rem;
                        font-size: 1rem;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.7;
                        letter-spacing: normal;
                        color: #54575c;
                        border: 1px solid rgba(151 ,151 ,151, 0.33);
                    }
                }
            }
        }
    }
    >.left, >.right{
        ul{
            list-style: none;
            font-size: 1.2rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: normal;
            color: #a5aebe;
            margin-left: -2rem;
            margin-bottom: 3.4rem;
            li{
                margin-bottom: 0.2rem;
                position: relative;
                span{
                    position: relative;
                    left: 1.5rem;
                }
            }
            &.upgrade{
                li:before{
                    background-image: url('/src/assets/img/check-mark-button-copy-2.svg');
                }
            }
            li::before {
                position: absolute;
                top: 0.7rem;
                left: 0;
                margin-right: 1.2rem;
                content: ""; 
                background-image: url('/src/assets/img/check-mark-button-copy.svg');
                display: inline-block; 
                width: 0.9rem;
                height: 0.7rem;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -2.3rem;
            }
        }
    }
}
#stage-title{
    position: fixed;
    left: 30rem;
    padding-left: 3rem;
    top: 11.2rem;
    padding-top: 3rem;
    right: 25rem;
    padding-bottom: 1rem;
    background: white;
    z-index: 999;
}
#stage-title .bottom{
    font-size: 1.2rem !important;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9fa9ba;
}
.layout-area{
    margin-left: 30rem;
    margin-right: 25rem;
    @include xs{
        margin-left: 0;
        margin-right: 0;
    }
    @include sm{
        margin-left: 0;
        margin-right: 0;
    }
    >.center{
        padding: 0rem 4rem 3rem;
        flex-grow: 1;
        border-left: 1px solid #e6eaee;
        border-right: 1px solid #e6eaee;
        @include xs{
            padding: 0rem 2rem 3rem;
        }
        @include sm{
            padding: 0rem 2rem 3rem;
        }
        .new-post-card{
            border-radius: 0.6rem;
            box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1), 0 0 20px 0 rgba(215, 222, 227, 0.23);
            background-color: #ffffff;    
            .not-opened{
                height: 6.1rem;
                padding: 2rem 2.4rem;
                font-size: 1.5rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #b9bfca;
            }      
            >.opened{
                display: none;
                .section{
                    &.buttons{
                        text-align: right;
                        button.cancel, button.done{
                            width: 9rem;
                            height: 3.6rem;
                            border-radius: 0.4rem;
                            font-size: 1.4rem;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                            color: #ffffff;
                        }
                        button.cancel{
                            margin-right: 1rem;
                            background-color: #a3adbd;
                        }
                    }
                    
                    button.done{
                        background-color: #31a79b;
                    }
                    position: relative;
                    padding: 1.8rem 1.7rem;
                    >.left{
                        margin-right: 16.5rem;
                        input, textarea{
                            padding: 0.8rem 1.5rem;
                            height: 3.6rem;
                            border-radius: 0.4rem;
                            background-color: #ffffff;
                            font-size: 1.4rem;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #202841;
                            border: 1px solid #cccfd4;
                            &::placeholder{
                                color: #9fa9ba;
                            }
                        }
                        textarea{
                           height: 10.3rem; 
                        }
                        .collapsing-area{
                            margin-top: 2.8rem;
                            .is-collapse{
                                display: none;
                                &.show{
                                    display: flex;
                                }
                                padding-top: 1rem;
                                padding-left: 3rem;
                                justify-content: space-between;
                                >.left{
                                    font-size: 1.2rem;
                                    font-weight: 500;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    >.caution{
                                        color: #9fa9ba;
                                    }
                                    >.files{
                                        margin-top: 0.4rem;
                                        color: #4786ff;
                                        >ul{
                                            list-style: none;
                                            padding:0;
                                            margin:0;
                                            li{
                                                margin: 0.5rem 0;
                                            }
                                        }
                                    }
                                    
                                }
                                >.right{
                                    button.upload{
                                        width: 9rem;
                                        height: 3.6rem;
                                        border-radius: 0.4rem;
                                        border: 1px solid #4786ff;
                                        font-size: 1.4rem;
                                        font-weight: bold;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        text-align: center;
                                        color: #4786ff;
                                    }
                                }
                                .schedule{
                                    .input-group-text{
                                        border-radius: 0.4rem;
                                        background-color: white;
                                        border-top-right-radius: 0;
                                        border-bottom-right-radius: 0;
                                    }
                                    input{
                                        border-radius: 0.4rem;
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                        border-left: 0;
                                    }
                                }
                                
                            }
                        }
                    }
                    >.right{
                        width: 16.5rem;
                        position: absolute;
                        right: 1.8rem;
                        top: 1.7rem;
                        padding: 0.8rem 1.9rem;
                    }
                    label{
                        font-size: 1.4rem;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #9fa9ba;
                        margin-left: 0.86rem;
                    }
                    
                }
                .border-vert{
                    border-top: 1px solid #97979720;
                }
            }
            &.opened{
                .not-opened{
                    display: none;
                } 
                .opened{
                    display: block;
                } 
            }
        }
        .date-feed-list{
            span.date{
                font-size: 1.6rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: rgba(24, 28, 47, 0.3);
                padding-top: 4.2rem;
                display: block;
                @include xs{
                    padding-top: 2rem;
                }
                @include sm{
                    padding-top: 0.3rem;
                }
            }
            .skillname{
                width: 12.3rem;
                height: 2.7rem;
                border-radius: 23.5px;
                background-color: #5abeb622;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
                @include xs{
                    margin-top: 4rem;
                }
                span{
                    font-size: 1.1rem;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: -0.2px;
                    color: #31a79b;
                }
            }
            .feed{
                margin-top: 2.3rem;

                .actions{
                    margin-top: 1.7rem;
                    text-align: right;
                    span{
                        font-size: 1.3rem;
                        font-weight: 400;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.08;
                        letter-spacing: normal;
                    }
                    img{
                        width: 1.5rem;
                        height: 1.8rem;
                        margin: 0 0.8rem 0 1.5rem;
                    }
                    span.edit{
                        color: #a5aebe;
                    }
                    span.delete{
                        color: #ef6972
                    }
                }
            }
            .media{
                display: block;
                .media-profile-container{
                    display: flex;
                    //flex-direction: column;
                    align-items: center;
                }
                .name-container{
                    //text-align: center;
                    padding-left: 1.2rem;
                    .name{
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #242f40;
                        //margin-top: 1.2rem
                    }
                    .email{
                        font-size: 1.2rem;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #919eab;
                        margin-top: 0.2rem;
                    }
                }
                img.profile{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background: red;
                    object-fit: cover;
                    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.22);
                }
                .media-body{
                    position: relative;
                    border-radius: 1px;
                    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
                    background-color: #ffffff;
                    margin-top: 3rem;
                    .head{
                        padding: 2rem 2.0rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @include xs{
                            margin-top: -1rem;
                        }
                        .left{
                            @include xs{
                                max-width: 50%;
                            }
                            .title{
                                font-size: 1.5rem;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #202841;
                                margin-bottom: 0.2rem;
                            }
                            .time{
                                font-size: 1.2rem;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #919eab;
                            }
                        }
                        .right{
                            font-size: 1.4rem;
                            font-weight: 400;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: normal;
                            color: #202841;
                            img{
                                width: 1.8rem;
                                height: 1.8rem;
                                margin: 0 0.8rem 0 1.1rem;
                            }
                        }
                        
                        border-bottom: 1px solid #97979720;
                    }
                    .body{
                        padding: 1.6rem 2.0rem;
                        font-size: 1.4rem;
                        font-weight: 400;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.62;
                        letter-spacing: normal;
                        color: #202841;
                        &.file{
                            color: #4786FF;
                            padding: 0rem 2rem 1.6rem;
                        }
                        .image-area {
                            overflow: hidden;
                            position: relative;
                            width: 9.5rem;
                            height: 9.5rem;
                            flex-shrink: 0;
                            @include xs {
                                margin-bottom: 3rem;
                            }
                            border-radius: 0.8rem;
                            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
                            .uploaded {
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                .mask {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
                                    display: flex;
                                    align-items: flex-end;
                                    color: #ffffff;
                                    padding: 1.2rem 1rem;
                                    font-size: 1rem;
                                    font-weight: 600;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.19;
                                    letter-spacing: 0.06rem
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.is-affixed{
    will-change: min-height;
}

.inner-wrapper-sticky{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.media-body::before {
    background-color: #FFFFFF;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .1 );
    content: "\00a0";
    display: block;
    height: 20px;
    left: 15px;
    position: absolute;
    top: -10px;
    transform:             rotate( 135deg );
    -moz-transform:    rotate( 135deg );
    -ms-transform:     rotate( 135deg );
    -o-transform:      rotate( 135deg );
    -webkit-transform: rotate( 135deg );
    width:  20px;
}

.detail {
    .media-body::before{
        display: none;
    }
}

#detail-right{

    background-color: #5b6b8210;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #5b6b8230;
    .media-body{
        padding: 3rem 2rem;
    }
    .head{
        font-size: 1.5rem;
        font-weight: 600
    }
    .image-area {
        overflow: hidden;
        position: relative;
        width: 9.5rem;
        height: 9.5rem;
        flex-shrink: 0;
        margin: 1rem auto;
        @include xs {
            margin-bottom: 3rem;
        }
        border-radius: 0.8rem;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
        .uploaded {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .mask {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
                display: flex;
                align-items: flex-end;
                color: #ffffff;
                padding: 1.2rem 1rem;
                font-size: 1rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: 0.06rem
            }
        }
    }
    .profile{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: red;
        object-fit: cover;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.22);
    }
    .text{
        font-size: 1.2rem;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #242f40;
    }
    .media-profile-container{
        margin-top: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .profile{
            margin-right: 0.5rem;
        }
        .name{
            font-size: 1.2rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242f40;
        }
        .email{
            font-size: 1rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #919eab;
            margin-top: 0.2rem;
        }
    }

    .info-area{
        margin-top: 3rem;
        .info{
            font-size: 1.2rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242f40;
            margin-top: 1.5rem;
        }
        .info-content{
            font-size: 1.2rem;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #242f40;

            .google{
                margin-left: 0.4rem;
            }
        }
        .total{
            font-weight: 400;
            font-size: 1.2rem;
        }

    }
}

.detail-mobile{
    display: none;
    @include xs{
        display: block;
    }
    @include sm{
        display: block;
    }
    .media-body{
        @include xs{
            background-color: #F1F8F8 !important;

        }
        @include sm{
            background-color: #F1F8F8 !important;
        }
    }

    .media-body{
        margin-top: 2rem;

    }
    .mobile-container{
        display: flex;
        justify-content: space-between;
        .image-area{
            margin-bottom: 0 !important;
        }
        .text{
            padding-left: 1.3rem;
        }
    }
    .media-profile-container{
        margin-top: 2rem;
        .profile{
            width: 4rem;
            height: 4rem;
        }
    }
    .info-container{
        display: flex;
        padding-top: 1rem;
        .info-small-container{
            padding-right: 1rem;
            .info-content{
                span{
                    padding-right: 1rem;
                }

            }
        }
    }
    .info-area{
        .info{
            padding-top: 1rem;
            font-weight: 600;
            &.total{
                padding-top: 0;
            }
            &.last30{
                padding-left: 2rem;
            }
        }
    }


}